{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-4">
                <img src="{{listing.imageURL}}" class="img-fluid" alt="listing.itemName">
                {% if user.is_authenticated %}
                    <br/>
                    <div class="text-left">
                        <form action="{% url 'togglewatch' listing.id %}" method="POST">
                            {% csrf_token %}
                            {% if watches == 0 %}
                                <input type="hidden" name="action" id="action" value="add">
                                <button type="submit" class="btn btn-sm btn-outline-info">Add Watch</button>
                            {% else %}
                                <input type="hidden" name="action" id="action" value="remove">
                                <button type="submit" class="btn btn-sm btn-outline-success">Watching!</button>
                            {% endif %}                
                        </form>
                    </div>
                {% endif %}
            </div>
            <div class="col-4">
                <div class="display-4">{{listing.itemName}}</div>
                <div class="lead">{{listing.itemShortDescription}}</div>
                <br/>
                <h4>Starting price ${{ listing.setPrice }}</h4>
                <p><i>{{listing.itemLongDescription}}</i></p>
                {% if user.is_authenticated %}
                    <hr>
                    <div class="text-right">
                        {% if listing.listedBy == user %}
                            <form action="{% url 'openclose' listing.id %}" method="POST">
                                {% csrf_token %}
                                {% if listing.isOpen %}
                                    <input type="hidden" name="isopen" id="isopen" value="close">
                                    Auction is 
                                    <button type="submit" class="btn btn-sm btn-success">Open</button>
                                {% else %}
                                    <input type="hidden" name="isopen" id="isopen" value="open">
                                    Auction is 
                                    <button type="submit" class="btn btn-sm btn-danger">Closed</button>
                                {% endif %}                
                            </form>
                            <i style="color: red;">{{opencloseMessage}}</i>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
            <div class="col-4">
                {% if listing.bids.count > 0 %}
                    {% if listing.bids.count == 1 %}
                        <span class="badge badge-success">{{listing.bids.count}} Bid</span>
                    {% else %}
                        <span class="badge badge-success">{{listing.bids.count}} Bids</span>
                    {% endif %}
                    {% for bid in bids %}
                        <div title="{{bid.date}} @ {{bid.time}}"><strong>{{ bid.user }}</strong> &rarr; ${{ bid.amount }} </div>
                    {% endfor %}
                {% else %}
                    <span class="badge badge-success">0 Bids</span>
                {% endif %}
                {% if user.is_authenticated %}
                    <hr>
                    <div class="text-left">                
                        {% if listing.isOpen == False %}
                            {% for bid in bids %}
                                {% if forloop.last %}
                                    <strong>{{bid.user.username}}</strong> wins this auction!
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <form action="{% url 'addbid' listing.id %}" method="POST">
                                {% csrf_token %}
                                Bid: <strong>$</strong>
                                {% if listing.bids.count == 0 %}
                                    <input type="decimal" name="amount" id="amount" min={{listing.setPrice}} value={{listing.setPrice}} style="width: 100px;">
                                {% else %}
                                    {% for bid in bids %}
                                        {% if forloop.last %}
                                            <input type="decimal" name="amount" id="amount" min={{currentBid}} value={{currentBid}} style="width: 100px;">
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <span class="align-top"><button type="submit" class="btn btn-sm btn-outline-info">bid</button></span>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <hr>
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                <div class="text-left">
                    <form action="{% url 'addcomment' listing.id %}" method="POST">
                        {% csrf_token %}
                        Add a comment: 
                        <input type="text" name="comment" id="comment" placeholder="Enter comment" style="width: 50%;">
                        <span class="align-top"><button type="submit" class="btn btn-sm btn-outline-info">comment</button></span>
                    </form>
                </div>
                <br/>
                {% endif %}
                <div class="alert alert-success" role="alert">
                    {% if listing.comments.count > 0 %}
                        <h4>Comments about this listing:</h4>
                        <ul class="comment">
                            {% for comment in comments %}
                                <li><strong>{{comment.user}}</strong>: <i>"{{comment.comment}}"</i></li>
                            {% endfor%}
                        </ul>
                    {% else %}
                        <p><i>No comments yet...</i></p>
                    {% endif %}
                </div>
            </div>                
        </div>
    </div>   

{% endblock %}